footer {
  background-color:  gray;
  color: darkred;
  padding-top: 20px;
  padding-bottom: 0px;
  text-align: center;
}

footer li{
  list-style: none;
}

#reach-me {
  margin-bottom: 10px;
}

#copyright {
  font-size: 12px;
}

